*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;

}



body{

background:#0d5b95;

}



/* HEADER */

header{

height:95px;

background:#dce4ee;

display:flex;

align-items:center;

}



.logo{

width:150px;

margin-left:40px;

}



nav{

display:flex;

gap:70px;

margin:auto;

}



nav a{

font-size:30px;

font-weight:bold;

text-decoration:none;

color:#000;

}



nav a:hover{

color:#075ea8;

}



/* CONTENEDOR */

main{

width:100%;

}



.contacto-box{


width:60%;

margin:55px auto;


background:#82d3ff;


border-radius:20px;


padding:45px;


display:flex;


gap:60px;


box-shadow:0 10px 20px rgba(0,0,0,.3);


}



/* IZQUIERDA */


.formulario{

width:55%;

}



h1{

font-size:35px;

color:#075ea8;

margin-bottom:20px;

}



.formulario p{

font-size:18px;

line-height:1.5;

margin-bottom:25px;

}



label{

display:block;

font-weight:bold;

margin-bottom:8px;

}



input,
textarea{


width:100%;

border:none;

border-radius:8px;

padding:12px;

margin-bottom:25px;

font-size:16px;

}



textarea{

height:110px;

resize:none;

}



button{

background:#0870c9;

color:white;

border:none;

padding:14px 35px;

border-radius:8px;

font-size:16px;

cursor:pointer;

}



button:hover{

background:#064f91;

}



/* DERECHA */


.informacion{

width:45%;

display:flex;

flex-direction:column;

justify-content:center;

}



.imagen-contacto{


width:280px;

margin:0 auto 30px;


}



.informacion p{

font-size:18px;

margin-bottom:18px;

color:#333;

}




@media(max-width:900px){


.contacto-box{

flex-direction:column;

width:90%;

}


.formulario,
.informacion{

width:100%;

}


nav{

gap:20px;

}


}