*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#0d5b95;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

main{
    width:90%;
    max-width:1100px;
}

section{
    background:#82d3ff;
    border-radius:20px;
    display:flex;
    justify-content:space-between;
    padding:50px;
    gap:50px;
    box-shadow:0 10px 20px rgba(0,0,0,.3);
}

section div{
    flex:1;
}

h1{
    color:#0b4f8b;
    margin-bottom:20px;
}

p{
    margin-bottom:20px;
    color:#333;
    line-height:1.5;
}

label{
    font-weight:bold;
    display:block;
    margin-bottom:5px;
}

input,
textarea{
    width:100%;
    padding:12px;
    border:none;
    border-radius:8px;
    margin-bottom:20px;
}

textarea{
    resize:none;
}

button{
    background:#0b66b4;
    color:white;
    border:none;
    padding:12px 30px;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}
.aviso {
  display: none;
  margin-top: 14px;
  padding: 10px 14px;
  border-radius: 6px;
  font-weight: bold;
}
.aviso.error {
  display: block;
  background-color: #e62727;
  color: #f7f5f5;
  border-left: 4px solid #181717;
}
.aviso.exito {
  display: block;
  background-color: #0b7726;
  color: #f1f1f1;
  border-left: 4px solid #0c0c0c;
}
button:hover{
    background:#084f8b;
}

img{
    width:100%;
    max-width:320px;
    display:block;
    margin:0 auto 30px;
}
section div:last-child p{
    margin-bottom:15px;
}